*.swp
.pytest_cache/
__pycache__/
.minithesis-cache.*
venv
.pyc
*.egg-info
__pycache__
.coverage
.hypothesis/
.pytest_cache/
dist-newstyle/
cabal.project.local
cabal.project.freeze
.ghc.environment.*
sydtest-profile.html
